In [66]:
import pandas as pd
import sqlite3

In [110]:
# read the csv file and a quick inspection
df_csv = pd.read_csv(r'C:\Users\raimo\Documents\Airflow\data\steam\games.csv', index_col=False)
df_csv.head()
# disregard warning: using index_col=False is the best approach so far. I have tried to not include the argument, but additional steps will be needed as pandas shifts the names of the columns 1 value to the right. i.e. "Name" column will have the values of "Release date"

C:\Users\raimo\AppData\Local\Temp\ipykernel_7324\2544680697.py:2: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_csv = pd.read_csv(r'C:\Users\raimo\Documents\Airflow\data\steam\games.csv', index_col=False)

,AppID,Name,Release date,Estimated owners,Peak CCU,Required age,Price,DiscountDLC count,About the game,Supported languages,...,Average playtime two weeks,Median playtime forever,Median playtime two weeks,Developers,Publishers,Categories,Genres,Tags,Screenshots,Movies
0,20200,Galactic Bowling,"Oct 21, 2008",0 - 20000,0,0,19.99,0,0,Galactic Bowling is an exaggerated and stylize...,...,0,0,0,0,Perpetual FX Creative,Perpetual FX Creative,"Single-player,Multi-player,Steam Achievements,...","Casual,Indie,Sports","Indie,Casual,Sports,Bowling",https://cdn.akamai.steamstatic.com/steam/apps/...
1,655370,Train Bandit,"Oct 12, 2017",0 - 20000,0,0,0.99,0,0,THE LAW!! Looks to be a showdown atop a train....,...,0,0,0,0,Rusty Moyher,Wild Rooster,"Single-player,Steam Achievements,Full controll...","Action,Indie","Indie,Action,Pixel Graphics,2D,Retro,Arcade,Sc...",https://cdn.akamai.steamstatic.com/steam/apps/...
2,1732930,Jolt Project,"Nov 17, 2021",0 - 20000,0,0,4.99,0,0,Jolt Project: The army now has a new robotics ...,...,0,0,0,0,Campião Games,Campião Games,Single-player,"Action,Adventure,Indie,Strategy",NaN,https://cdn.akamai.steamstatic.com/steam/apps/...
3,1355720,Henosis™,"Jul 23, 2020",0 - 20000,0,0,5.99,0,0,HENOSIS™ is a mysterious 2D Platform Puzzler w...,...,0,0,0,0,Odd Critter Games,Odd Critter Games,"Single-player,Full controller support","Adventure,Casual,Indie","2D Platformer,Atmospheric,Surreal,Mystery,Puzz...",https://cdn.akamai.steamstatic.com/steam/apps/...
4,1139950,Two Weeks in Painland,"Feb 3, 2020",0 - 20000,0,0,0.00,0,0,ABOUT THE GAME Play as a hacker who has arrang...,...,0,0,0,0,Unusual Games,Unusual Games,"Single-player,Steam Achievements","Adventure,Indie","Indie,Adventure,Nudity,Violent,Sexual Content,...",https://cdn.akamai.steamstatic.com/steam/apps/...

In [48]:
# upon closer inspection, we can see that there are values that are shifted and not on the right respective columns i.e. "Supported languages" should be the values in "About the game"
# we will not clean everything but rather just focus on the columns that we want, to create fact and dim tables.

In [114]:
# before we rename the columns with the right names, we will extract only the neccessary columns. note that "Publishers" column have the values for "Developers" here. This is the same for "Categories", "Genres", and "Tags".
fact_table = df_csv[['AppID', 'Name', 'Release date', 'Estimated owners', 'Price', 'Publishers', 'Categories', 'Genres', 'Tags']]

In [116]:
# we will now rename the columns to their respective names
fact_table = fact_table.rename(columns={'Publishers': 'Developers', 'Categories': 'Publishers', 'Genres': 'Categories', 'Tags': 'Genres'})

In [118]:
fact_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97410 entries, 0 to 97409
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   AppID             97410 non-null  int64
 1   Name              97404 non-null  object
 2   Release date      97410 non-null  object
 3   Estimated owners  97410 non-null  object
 4   Price             97410 non-null  float64
 5   Developers        92533 non-null  object
 6   Publishers        92239 non-null  object
 7   Categories        91497 non-null  object
 8   Genres            92569 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 6.7+ MB

In [122]:
# since we have lots of columns with string datatype, we will remove the leading and trailing spaces to prepare for next transformation
fact_table = fact_table.apply(lambda x: x.strip() if isinstance(x, str) else x)
fact_table.columns = fact_table.columns.str.lower()
fact_table.columns = fact_table.columns.str.replace(" ", "_")

In [126]:
# We can see that "Developer", "Publishers", "Categories", and "Genres" have multiple values separated by comma. 
# For now, our treatment will be to consider only the first value for the respective columns.
fact_table['developers'] = fact_table['developers'].str.extract(r'^([^,]+)')
fact_table['publishers'] = fact_table['publishers'].str.extract(r'^([^,]+)')
fact_table['categories'] = fact_table['categories'].str.extract(r'^([^,]+)')
fact_table['genres'] = fact_table['genres'].str.extract(r'^([^,]+)')

In [128]:
# creating different IDs for "Developer", "Publishers", "Categories", "Genres"
for column in ['developers', 'publishers', 'categories', 'genres']:
    fact_table[column + '_ID'] = fact_table[column].astype('category').cat.codes + 1

# creating their own tables/dataframes
dim_developers = fact_table[['developers', 'developers_ID']].drop_duplicates().dropna().reset_index(drop=True)
dim_publishers = fact_table[['publishers', 'publishers_ID']].drop_duplicates().dropna().reset_index(drop=True)
dim_categories = fact_table[['categories', 'categories_ID']].drop_duplicates().dropna().reset_index(drop=True)
dim_genres = fact_table[['genres', 'genres_ID']].drop_duplicates().dropna().reset_index(drop=True)

In [130]:
# now that we have the tables for the dimensions, we can now drop the columns in fact_table
fact_table = fact_table.drop(columns=['developers', 'publishers', 'categories', 'genres'], axis=1)

In [132]:
# for this purposes, we are going to use the upper end of the estimated owners as int values
fact_table['estimated_owners']= fact_table['estimated_owners'].str.extract(r'[-\s]*\d+\s*-\s*(\d+)|(\d+)').iloc[:, 0].astype(int)

In [134]:
# inspect each table before loading
fact_table.sample(20)

,appid,name,release_date,estimated_owners,price,developers_ID,publishers_ID,categories_ID,genres_ID
40846,706390,LOGistICAL: Chile,"Sep 29, 2017",20000,1.99,38350,33955,16,6
33918,1554020,HUNDUN,"Apr 11, 2021",20000,1.49,26860,23732,16,3
51446,576160,A Long Road Home,"Jan 31, 2017",200000,1.99,32090,28378,16,3
57355,397160,Aurora Dusk: Steam Age,"Mar 8, 2019",50000,9.99,42740,37808,16,14
62249,2099370,PIP,"Aug 9, 2022",20000,1.19,9921,8740,16,6
33493,1447140,Lost & Round,"May 12, 2021",50000,5.99,32254,28521,16,3
218,1444890,Crazy Mafioso,"Nov 16, 2020",20000,1.99,35757,31676,16,2
82772,2602270,Puma: the Cat,"Nov 8, 2023",20000,2.99,10719,9405,16,3
69770,2292300,To the stars,"Feb 19, 2023",0,1.59,53341,47306,16,3
33179,1373110,Reflect Horizons,"Aug 25, 2020",20000,0.00,25218,22212,16,6
77415,896860,Trekking and Camping Sketch Edition,"Jul 29, 2018",20000,0.00,19798,17537,16,14
14931,1148910,ShapeWorks,"Nov 5, 2019",20000,29.99,16891,14866,0,4
96788,1247240,Shadowforge,"Feb 26, 2020",20000,0.00,28362,25031,19,14
66375,2160680,Last Kids on Earth: Hit the Deck!,"Nov 15, 2022",20000,14.99,38101,33731,16,18
33865,739270,Cradle of Links,"Oct 20, 2020",20000,5.99,26641,32485,16,2
44363,818950,Space Slingshot VR,"Apr 3, 2018",20000,7.99,9892,8714,16,6
61151,1950140,SAVE THE SCHOOL FLOWER ACTION,"Apr 13, 2022",20000,0.99,49640,44005,16,14
7518,1899400,Rolling in the Maze,"May 13, 2022",50000,1.59,31055,27435,16,6
56669,692030,Tennis World Tour,"Jun 12, 2018",20000,29.99,6527,26514,16,23
65578,1549440,MeiQi 2019,"Nov 3, 2022",20000,3.99,35294,31248,16,14

In [136]:
dim_developers.sample(20)

                  developers  developers_ID
4544              Sean Marty          38918
20367         Expo Virtualis          14379
14758              Magic Era          27054
12331  VirtualHere Pty. Ltd.          47341
38055            Lorex Games          25932
31725           Kodari Games          24039
42199            RenderitQWK          36738
5857                 creasso          50576
29344           Zen GM Games          49824
5896   Vincae Entretenimento          47228
30667            TCP Studios          42909
42218           Oppiz Studio          32278
53662            STUDIO MIZI          38253
17341              BazKreyol           4775
40025                Lukifah          26290
23496            R.I.P Games          35507
8915          武汉渲美时光网络科技有限公司          54171
37791             Ludokultur          26197
6365         Shiloh Schwartz          39508
51017               byMixnez          50445

In [138]:
dim_publishers.sample(20)

                    publishers  publishers_ID
40993             Jordan Keith          19932
20480       Cronos Interactive           8518
29766           Daniel X Moore           9382
38625               VinciGames          41820
48502            Crydan Studio           8582
17197        Alexander Salcedo           1866
6725                    droqen          45026
41138              Steel Games          36811
45378      Candy games studios           6650
14965        Neem Game Studios          26736
22209  Split Personality Games          36483
10622                Armogaste           2995
32972                PixelSlop          30201
26224          BelleGames Ltd.           4427
35471       RobertDeadth Games          32962
6117              Bloober Team           5198
46797            Charles Paiva           7139
35142               NotGameYet          27679
6337                 YJM GAMES          43593
3800                    KIXEYE          20377

In [140]:
dim_categories.sample(20)

                    categories  categories_ID
22                     VR Only             24
4               Steam Workshop             22
11                         MMO              9
19          Steam Leaderboards             20
24                VR Supported             26
5                  Steam Cloud             19
2        Includes level editor              8
25              Family Sharing              4
7   Partial Controller Support             12
14          Captions available              1
12     Full controller support              5
15                       Co-op              2
13                       Stats             17
17        Remote Play Together             14
18  Cross-Platform Multiplayer              3
0                Single-player             16
10                  VR Support             25
20                         PvP             13
8                   Online PvP             11
16         Includes Source SDK              7

In [142]:
dim_genres.sample(20)

                  genres  genres_ID
14      Game Development         12
3                  Indie         14
11        Sexual Content         20
0                 Casual          6
18         Photo Editing         17
2              Adventure          3
23      Video Production         26
20                Sports         23
25                  Gore         13
10                   RPG         18
8             Simulation         21
6              Utilities         25
21      Audio Production          5
16             Education          9
19     Software Training         22
26            Accounting          1
4               Strategy         24
9           Free to Play         11
24          Early Access          8
13  Animation & Modeling          4

In [144]:
from sqlalchemy import create_engine
import psycopg2

try:
    engine = create_engine('postgresql+psycopg2://postgres:Killerrem159!!@localhost:5432/steam')
    fact_table.to_sql('fact_table', con=engine, schema='steam_schema', if_exists='replace', index=False)
    dim_developers.to_sql('dim_developers', con=engine, schema='steam_schema', if_exists='replace', index=False)
    dim_publishers.to_sql('dim_publishers', con=engine, schema='steam_schema', if_exists='replace', index=False)
    dim_categories.to_sql('dim_categories', con=engine, schema='steam_schema', if_exists='replace', index=False)
    dim_genres.to_sql('dim_genres', con=engine, schema='steam_schema', if_exists='replace', index=False)
    print('Data loaded successfully')
except Exception as e:
    print(f"Failed to load data. Error: {e}")

Data loaded successfully